tensorpack
tensorflow
argparse
dill
fire
matplotlib
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
numpy
opencv-contrib-python
opencv-python==3.4.7.28
git+https://github.com/ppwwyyxx/tensorpack.git

